@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--blue: #4a11af;
	--orange: #ff6400;
	--grey: #333333;
	--black-gradient: linear-gradient(90deg, #000000 0%, #131313 100%);
}
