@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/typography.css';
@import './styles/swiper.css';

:root {
    --background: #ffffff;
    --foreground: #171717;
    --blue-400: #4a11af;
    --blue-300: #6b2bd9;
    --blue-200: #7031da;
    --orange: #ff6400;
    --grey: #333333;
    --dark-grey: #373737;
    --black-gradient: linear-gradient(90deg, #000000 0%, #131313 100%);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #131313;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #131313;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #292929;
}

.blinking-cursor {
    display: inline-block;
    width: 1px;
    background-color: #60a5fa; /* или другой цвет */
    animation: blink 1s step-start infinite;
    margin-left: 2px;
    vertical-align: bottom;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

::selection {
    background-color: #ff66008c;
    color: white;
}
