@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/typography.css';
@import './styles/swiper.css';

:root {
    --background: #ffffff;
    --foreground: #171717;
    --blue-400: #4a11af;
    --blue-300: #6b2bd9;
    --orange: #ff6400;
    --grey: #333333;
    --dark-grey: #373737;
    --black-gradient: linear-gradient(90deg, #000000 0%, #131313 100%);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #131313;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #131313;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #292929;
}
