@tailwind components;

/*
 * Красивый вывод контента
 */

@layer components {
    .content {
        @apply text-gray-300 leading-relaxed;
    }

    .content h1 {
        @apply text-[15px] lg:text-2xl font-bold leading-[125%] font-akony tracking-wider mb-8;
    }

    .content h2 {
        @apply text-[clamp(12px,1.6vh,17px)]  sm:text-sm lg:text-xl font-bold leading-[125%] font-akony tracking-wider mt-8 mb-6;
    }

    .content h3 {
        @apply text-[clamp(11px,1.5vh,16px)] lg:text-sm  font-bold leading-[125%] font-akony tracking-wider mt-6 mb-4;
    }

    .content p {
        @apply text-[clamp(12px,1.9vh,17px)]  sm:text-sm  lg:text-xl font-light leading-[125%]  font-arodora-pro opacity-90;
    }

    .content a {
        @apply text-blue-400 hover:text-blue-300 underline transition-colors;
    }

    .content ul {
        @apply list-disc pl-6 space-y-1 my-3;
    }

    .content li {
        @apply text-[clamp(12px,1.9vh,17px)]  sm:text-sm  lg:text-xl font-light leading-[125%]  font-arodora-pro opacity-85;
    }

    .content blockquote {
        @apply border-l-4 border-blue-500 pl-4 italic text-gray-400;
    }

    .content strong {
        @apply text-white font-semibold;
    }
}
