.swiper-cards .swiper-slide {
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
    opacity: 0;
    overflow: hidden;
    border-radius: 4px;
}
.swiper-cards .swiper-slide-prev,
.swiper-cards .swiper-slide-next {
    opacity: 0.6;
}
.swiper-cards .swiper-slide-active {
    opacity: 1;
}

.swiper-wrapper {
    pointer-events: none;
}

.swiper-slide {
    pointer-events: auto;
}
