@tailwind components;

/* ===== TOC Scroll ===== */
.ui-scroll {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #f97316 transparent; /* thumb | track */
}

/* Chrome, Edge, Safari */
.ui-scroll::-webkit-scrollbar {
    width: 6px;
}

.ui-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.ui-scroll::-webkit-scrollbar-thumb {
    background-color: #f97316; /* оранжевый */
    border-radius: 9999px;
    transition: background-color 0.2s ease;
}

.ui-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ea580c; /* темнее при hover */
}
